
/* LAYOUT  */

/* container for mobile /  */

@media only screen and (min-width: 320px) and (max-width: 480px) {

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
/* row */
    .row {
        display:block

    }

    /* col  */
    .col {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        
    }

    .lessons .col {
        width: 100%;

    }

    .steps .col {
        width: 100%;

    }

    .why-us .col {
        width: 100%;
    }

    .why-us {
        background-color: rgb(43, 42, 42);
    }

   
    
}





@media screen and (min-width: 600px) and (max-width: 780px) {

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    
}
/* /container for mobile / tablet  */

 /* row for tablet  */

 @media screen and (min-width: 680px) and (max-width: 780px) {
    .lessons .col {
        width: 30%;
    }

    .lessons h2 {
        width: 65%;
    }


    
 }


/* header for mobile */
@media screen and (max-width: 480px) {
  
    .site-header {
        justify-content: center;
        
    }


}

/* header for tablet */

@media screen and (max-width: 780px) {
   
    .site-header {
        justify-content: center;
        
    }
   


    
}


/* _______________________ */

/* STEPS SECTION */

/* steps for mobile */

/* @media screen and (max-width: 480px) {
    .steps .col {
        width: 100&;
    }
    
} */