
/* LAYOUT  */

/* container for mobile / tablet  */

@media screen and (max-width: 480px) and (max-width: 780px){

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}
/* /container for mobile / tablet  */

/* row for mobile  */

@media screen and (max-width: 480px) {
    .row {
        display:block

    }
    
}

 /* row for tablet  */

 @media screen and (max-width: 780px) {
    .lessons .col {
        width: 30%;
    }

    .lessons h2 {
        width: 65%;
    }


    
 }

/* col for mobile */

@media screen and (max-width: 480px) {

    .col {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .lessons .col {
        width: 100%;

    }


    
}



/* HEADER */

/* header for mobile */
@media screen and (max-width: 480px) {
  
    .site-header {
        justify-content: center;
        
    }


}

/* header for tablet */

@media screen and (min-width: 780px) {
   
    .site-header {
        justify-content: center;
        
    }
   


    
}